{% extends "base.html" %}
{% block content %}
    <a href="{% url 'task_create' %}" class="btn btn-success mb-3">Add Task</a>
    <table class="table table-bordered table-hover table-striped">
        <thead class="table-warning">
            <tr>
                <th>#</th>
                <th>Task Name</th>
                <th>Task Status</th>
                <th>Task Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ task.title }}</td>
                <td>
                    {% if task.completed %}  <span class="badge bg-success">Completed</span> {% else %}  <span class="badge bg-danger">Pending</span> {% endif %}
                </td>
                <td>
                    <a href="{% url 'task_update' task.pk %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
